@media screen and (max-width: 961px){

    /* header*/

    .menu-bg{
        margin-top: 20px;
        
    }
    
    
    .menu{
      width: 300px;
      
      
    }

    .menu-nav{
        margin-top: 20px;
    }

    .menu-entrar{
        margin-top: 25px;
    }

    .section-sobre{
        margin-top: 70px;
    }

    
}




@media screen and (max-width: 961px){

    /* body*/

    .section-sobre{
        padding-top: 30px;
       
         
        
        
    }
    
    .div-sobre{
        width: 100%;
        margin: 0 auto;
        display: grid;
        justify-content: center;
        
        
        
    }
    
    .sobre-text-side{
        width: 600px ;
        
        
    }
    
    .sobre-text-side h1{
        font-size: 65px;
        line-height: 75px;
        text-align: center;
        

    }
    
    .sobre-text-side p{
        font-size: 20px;
        line-height: 30px;
        margin-top: 20px;
        width: 590px;
        text-align: center;
    }
    .list-sobre{
        display: flex;
        align-items: center;
        
    }
    
    .list-sobre img{
        height: 20px;
    }
    
    .side-b{
        width: 350px;
        padding-top: 15px;
        margin: 0 auto;
        
        

        
    }
    
    
    .list{
        display:flex; 
        justify-content: center;
        align-content: center;
        
    
    }
    
   
    
    .list p{
        font-size: 16px;
        margin-left: 1px;   
    }
    .button-side{
        width: 400px;
        padding-top: 40px;
        display: flex;
        margin: 0 auto;
        justify-content: center
        
        
    }
    
    .button-side img{
        max-width: 25px;
        margin-left: 30px;
    }
    
    .button-side button{
        background-color:  rgb(34, 98, 209);
        color: rgb(254, 254, 254);
        border: none;
        padding: 8px 15px 8px 15px;
        border-radius: 2px;
        font-size: 16px;
        font-weight: 600;
        
    }
    .image-side{
        margin: 0 auto;
    }
    
    .image-side img{
        
        position: relative;
        bottom: 0px;
        width: 500px;
        padding-left: 40px;
        
        
    }





    /*main - abra sua conta */

.section-conta{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #ffffff;
    
     
    
    
}

.div-conta{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
    
    
}

.conta-text-side{
    max-width: 550px ;
    padding-top: 40px;

}

.conta-text-side h1{
    font-size: 30px;
   
}
.conta-text-side p{
    font-size: 16px;
    margin-top: 20px;
}


.image-side-conta img{
    max-width: 350px;
    margin: 0 auto;
    padding-top: 40px;
    
}

.list-conta{
    display: flex;
    margin-top: 30px;
    align-items: center;
}
.list-conta img{
    max-width: 40px;
    margin-right: 25px;
}

.list-conta-itens h2{
    font-size: 16px;

}

.list-conta-itens h3{

    font-size:15px;
    font-weight: 400;

}

    

    
    
    


}

@media screen and (max-width: 616px){

    .section-sobre{
        padding-top: 10px;
       
         
        
        
    }
    
    .div-sobre{
        width: 100%;
        margin: 0 auto;
        display: grid;
        justify-content: center;
        
        
        
    }
    
    .sobre-text-side{
        width: 400px;
        
        
    }
    
    .sobre-text-side h1{
        font-size: 40px;
        line-height: 50px;
        text-align: center;
        

    }
    
    .sobre-text-side p{
        font-size: 17px;
        line-height: 30px;
        padding-top: 15px;
        margin: 0 auto;
        width: 420px;
        
        
    }
    .list-sobre{
        display: flex;
        align-items: center;
        
    }
    
    .list-sobre img{
        height: 20px;
    }
    
    .side-b{
        width: 350px;
        padding-top: 15px; 
        margin: 0 auto;
        
        

        
    }
    
    
    .list{
        display: flex; 
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
    }
    
    
    .list p{
        font-size: 16px;
        margin-left: 1px;   
    }
    .button-side{
        width: 200px;
        padding-top: 40px;
        display: flex;
        margin: 0 auto;
        justify-content: center
        
        
    }

    
    
    .button-side img{
        max-width: 15px;
        margin-left: 30px;
        display: none;
    }

    .button-side i {
        display: none;
    }
    
    .button-side button{
        background-color:  rgb(34, 98, 209);
        color: rgb(254, 254, 254);
        border: none;
        padding: 8px 15px 8px 15px;
        border-radius: 2px;
        font-size: 16px;
        font-weight: 600;
        
        
    }
    .image-side{
        margin: 0 auto;
    }
    
    .image-side img{
        
        position: relative;
        bottom: 0px;
        width: 400px;
        padding-top: 30px;
        
        
    }

        /*main - abra sua conta */

.section-conta{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #ffffff;
    
     
    
    
}

.div-conta{
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction:column-reverse;
    text-align: center;
    
    
}

.conta-text-side{
    max-width: 550px ;
    padding-top: 0px;
    

}

.conta-text-side h1{
    font-size: 30px;
   
}
.conta-text-side p{
    font-size: 16px;
    margin-top: 20px;
}


.image-side-conta img{
    max-width: 190px;
    
    
}

.icons-conta{
    
    width: 300px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 20px;
    padding-left: 20px;
}

.list-conta{
    display: inline;
    margin-top: 30px;
    align-items: center;
}
.list-conta img{
    max-width: 40px;
    padding-top: 30px;
    
    
    
}

.list-conta-itens h2{
    font-size: 16px;

}

.list-conta-itens h3{

    font-size:15px;
    font-weight: 400;

}



               



}
